/* Skills Section */
#skills {
	padding: 100px 0;
	background: #7bc3d1;
}

#skills hr{

	background: rgba(255,255,255,0.3)
}

.web{
	background-color: rgb(255, 255, 255);
	color: #656c6d;
	width:80%;
	padding:5px;
	height: 150px;
	/* border-radius: 10%; */
	text-align: center;
	box-shadow:1px 1px 2px rgb(41, 139, 156);

}
.web:hover{
  box-shadow:1px 1px 15px rgb(33, 118, 133);
  color:rgb(255, 255, 254);
  background: rgb(82, 82, 82);
  font-weight: 600;
  width:100%;
  transition: all 0.3s;
}

.fas{
	font-size: medium;
}



/* Experience Section */

#Experience{
	background-image:url("../img/bg-light.jpg");
	background-size: cover;
}


#Experience p {

	font-size: 12px;
}


/*footer*/

.btn{
	color:white;
	border-radius: 20px;
	background-color:rgb(20, 139, 168);

}

footer > .position-fixed {
	bottom: 5vh;
	right: 5vh;
	z-index: 999;
	position: fixed;
  }